# Python cache
__pycache__/
*.py[cod]
*$py.class

.env

*.tex

results/sample_to_latex.py
results/results_counter.py
results/results_to_latex.py
src/sphyr/dataset_creation/topology_optimization_data/3D